.region-page {
  padding-top: 0px;

  .g-5,
  .gx-5 {
    --bs-gutter-x: 30px;
  }

  .row {
    margin: 0;
  }

  .section-title {
    // font-size: 30px;
  }

  .why-us-content {
    display: flex;
    gap: 15px;
    justify-content: start;
    overflow-x: auto;
    padding-bottom: 10px;

    &__item {
      width: 75%;
      flex: none;
    }
  }

  .top-session {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    &-img {
      position: absolute;
      left: 0;
      top: 0;
    }

    .hero-section-custom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .carousel-indicators {
      bottom: 20px;

      div {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #8C8C8C80;
        margin: 0 5px;
        transition: background 0.3s;
        border: none !important;

        &.active {
          width: 12px;
          height: 12px;
          background: linear-gradient(90deg, #4884EE 0%, #06BCFB 100%);
        }
      }
    }
  }

  .navbar-bottom {
    background: #353F4B;
    color: #fff;
    padding: 10px;
    text-align: center;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    button {
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
      border-radius: 8px;
      background: transparent;
      padding: 8px 16px;

      .circle-dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #01FF23;
        border-radius: 50%;
        margin-left: 8px;
      }
    }
  }

  .my-navbar__main {
    background-color: #fff;
  }

  #selectLanguage {
    display: flex;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    border: 3px solid #5C5C5C;
    background: rgba(0, 0, 0, 0.3);
    padding: 15px 50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: max-content;
    margin: auto;
    max-width: 100%;

    .items {
      &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          margin: auto;
          border-radius: 50%;
          border: 1px solid #fff;
        }

        &>div {}
      }
    }
  }

  .hero-section {
    position: relative;

    img {
      border-radius: 16px;
      max-height: 100vh;
      object-fit: cover;
    }

    .hero-content {
      position: absolute;
      width: 100%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      color: white;
      text-align: center;
    }
  }

  .accordion-custom {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .accordion-item {
      border: 1px solid rgba(1, 188, 255, 0.2);
      border-radius: 25px;
      overflow: hidden;
      background-color: transparent;


      .accordion-header {
        .accordion-button {
          font-size: 20px;
          font-weight: 300;
          padding: 25px;

          &[aria-expanded="true"] {
            background: linear-gradient(90deg, #4884EE 0%, #06BCFB 100%);
            color: #fff;
            font-size: 24px;
          }
        }
      }

      .accordion-collapse {
        .accordion-body {
          background-color: transparent;
          font-size: 16px;
          line-height: 28px;
          color: #7981A4;
        }

        &.show {
          .accordion-body {}
        }
      }
    }
  }

  .custom-tabs {
    .tab-content {
      margin: 20px 0;
      border-radius: 25px;
      overflow: hidden;
      min-height: 500px;
    }

    .nav-tabs {
      border: 1px solid var(--color-blue-89, #D1D5F5);
      border-radius: 100px;
      width: fit-content;
      margin: auto;
      background-color: #fff;
      padding: 2px;

      .nav-item {
        .nav-link {
          border: none;
          border-radius: 100px;
          color: #6C7BA8;
          padding: 16px 24px;
          min-width: 190px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          text-transform: uppercase;
          line-height: 20px;

          &.active {
            box-shadow: 0px 4px 15px 0px #4080FF40;
            background-image: url(../icons/btn-bg.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            color: #fff;

            &::before {
              content: "";
              display: block;
              width: 20px;
              height: 20px;
              background-image: url(../icons/btn-ai-icon.svg);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }
    }
  }
}