<div class="withdrawal__content__bank-account__title pt-2">
  <span data-i18n="Wallet_Address"></span> (2/3)
</div>

<div class="section-content border-radius-bottom border-radius-top mb-3 pb-2">

  <div class="withdrawal__content__bank-account mt-0 px-0 pt-0">
    <!-- <div class="d-flex gap-2 mb-2">
      <div>
        <img src="assets/icons/crypto.svg">
      </div>
      <div>
        <div class="fw-bold mb-1">USDT - TRC20</div>
        <div class="mb-1" data-i18n="Withdrawl_Crypto_description"></div>
        <div data-i18n="Withdrawl_Crypto_description_1"></div>
      </div>
    </div> -->
    <div class="withdrawal__content__bank-account__items crypto ">
      <label class="withdrawal__content__bank-account__items__label">
        <div class="withdrawal__content__bank-account__items__label__content">
          <div class="withdrawal__content__bank-account__items__label__content__img">
            <img src="assets/images/new-icons/usdt.png" />
          </div>
          <div class="withdrawal__content__bank-account__items__label__content__title">
            <div>LeeChunKit</div>
            <div>TRC20</div>
            <div>TEGi **** **** uJDC</div>
          </div>
        </div>
        <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto" />
        <span class="checkmark"></span>
        <!-- <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete-wallet">
          <img src="assets/images/LOGIN_EDI/delete2.png" />
        </button> -->
      </label>
  
      <label class="withdrawal__content__bank-account__items__label">
        <div class="withdrawal__content__bank-account__items__label__content">
          <div class="withdrawal__content__bank-account__items__label__content__img">
            <img src="assets/images/new-icons/usdt.png" />
          </div>
          <div class="withdrawal__content__bank-account__items__label__content__title">
            <div>LeeChunKit</div>
            <div>TRC20</div>
            <div>TEGi **** **** uJDC</div>
          </div>
        </div>
        <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto"  checked="checked" />
        <span class="checkmark"></span>
        <!-- <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete-wallet">
          <img src="assets/images/LOGIN_EDI/delete2.png" />
        </button> -->
      </label>
  
      <label class="withdrawal__content__bank-account__items__label">
        <div class="withdrawal__content__bank-account__items__label__content">
          <div class="withdrawal__content__bank-account__items__label__content__img">
            <img src="assets/images/new-icons/usdt.png" />
          </div>
          <div class="withdrawal__content__bank-account__items__label__content__title">
            <div>LeeChunKit</div>
            <div>TRC20</div>
            <div>TEGi **** **** uJDC</div>
          </div>
        </div>
        <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto" />
        <span class="checkmark"></span>
        <!-- <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete-wallet">
          <img src="assets/images/LOGIN_EDI/delete2.png" />
        </button> -->
      </label>

      <label class="withdrawal__content__bank-account__items__label">
        <div class="withdrawal__content__bank-account__items__label__content">
          <div class="withdrawal__content__bank-account__items__label__content__img">
            <img src="assets/images/new-icons/usdt.png" />
          </div>
          <div class="withdrawal__content__bank-account__items__label__content__title">
            <div>LeeChunKit</div>
            <div>TRC20</div>
            <div>TEGi **** **** uJDC</div>
          </div>
        </div>
        <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto" />
        <span class="checkmark"></span>
        <!-- <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete-wallet">
          <img src="assets/images/LOGIN_EDI/delete2.png" />
        </button> -->
      </label>

      <label class="withdrawal__content__bank-account__items__label">
        <div class="withdrawal__content__bank-account__items__label__content">
          <div class="withdrawal__content__bank-account__items__label__content__img">
            <img src="assets/images/new-icons/usdt.png" />
          </div>
          <div class="withdrawal__content__bank-account__items__label__content__title">
            <div>LeeChunKit</div>
            <div>TRC20</div>
            <div>TEGi **** **** uJDC</div>
          </div>
        </div>
        <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto" />
        <span class="checkmark"></span>
        <!-- <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete-wallet">
          <img src="assets/images/LOGIN_EDI/delete2.png" />
        </button> -->
      </label>

      <label class="withdrawal__content__bank-account__items__label">
        <div class="withdrawal__content__bank-account__items__label__content">
          <div class="withdrawal__content__bank-account__items__label__content__img">
            <img src="assets/images/new-icons/usdt.png" />
          </div>
          <div class="withdrawal__content__bank-account__items__label__content__title">
            <div>LeeChunKit</div>
            <div>TRC20</div>
            <div>TEGi **** **** uJDC</div>
          </div>
        </div>
        <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto" />
        <span class="checkmark"></span>
        <!-- <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete-wallet">
          <img src="assets/images/LOGIN_EDI/delete2.png" />
        </button> -->
      </label>

      <label class="withdrawal__content__bank-account__items__label">
        <div class="withdrawal__content__bank-account__items__label__content">
          <div class="withdrawal__content__bank-account__items__label__content__img">
            <img src="assets/images/new-icons/usdt.png" />
          </div>
          <div class="withdrawal__content__bank-account__items__label__content__title">
            <div>LeeChunKit</div>
            <div>TRC20</div>
            <div>TEGi **** **** uJDC</div>
          </div>
        </div>
        <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto" />
        <span class="checkmark"></span>
        <!-- <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete-wallet">
          <img src="assets/images/LOGIN_EDI/delete2.png" />
        </button> -->
      </label>

      <label class="withdrawal__content__bank-account__items__label">
        <div class="withdrawal__content__bank-account__items__label__content">
          <div class="withdrawal__content__bank-account__items__label__content__img">
            <img src="assets/images/new-icons/usdt.png" />
          </div>
          <div class="withdrawal__content__bank-account__items__label__content__title">
            <div>LeeChunKit</div>
            <div>TRC20</div>
            <div>TEGi **** **** uJDC</div>
          </div>
        </div>
        <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto" />
        <span class="checkmark"></span>
        <!-- <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete-wallet">
          <img src="assets/images/LOGIN_EDI/delete2.png" />
        </button> -->
      </label>

      <label class="withdrawal__content__bank-account__items__label">
        <div class="withdrawal__content__bank-account__items__label__content">
          <div class="withdrawal__content__bank-account__items__label__content__img">
            <img src="assets/images/new-icons/usdt.png" />
          </div>
          <div class="withdrawal__content__bank-account__items__label__content__title">
            <div>LeeChunKit</div>
            <div>TRC20</div>
            <div>TEGi **** **** uJDC</div>
          </div>
        </div>
        <input class="withdrawal__content__bank-account__items__label__checkbox" type="radio" name="withdrawl-crypto" />
        <span class="checkmark"></span>
        <!-- <button data-bs-toggle="modal" data-bs-target="#deleteCryptoWalletAddressModal" class="btn btn-delete-wallet">
          <img src="assets/images/LOGIN_EDI/delete2.png" />
        </button> -->
      </label>

    </div>
    <a href="/wallet/add-wallet-address.html" class="withdrawal__content__bank-account__add-bank">
      <img src="assets/images/wallet/plus.png" /> <span data-i18n="add_wallet_address"></span>
    </a>
  </div>

</div>

<div class="section-content border-radius-bottom border-radius-top mb-3 pb-2">

  <div class="pb-3 text-black-50">
    <small data-i18n="daily_withdrawal_amount_figure"></small>
  </div>

  <div class="withdrawal__content__input px-0">
    <div class="input-group">
      <input type="number" class="form-control" id="withdrawal-input" data-i18n="wallet_page.withdrawal.Please_enter_withdrawal_amount" data-i18n-attr="placeholder"  />
      <span class="input-group-text">MYR</span>
      <span class="input-group-text withdrawal-max-value"><span data-i18n="wallet_page.withdrawal.Max">Max</span></span>
    </div>
    <div id="withdrawal-amount-input-label" class="text-danger mt-1" style="font-size: 11px; margin-left: 60px;"  data-i18n="Min_Max_Limit"></div>
  </div>
  
  <div class="withdrawal__content__input px-0 pt-0">
    <div class="input-group">
      <input type="number" class="form-control" id="withdrawal-crypto-input" data-i18n="wallet_page.withdrawal.Please_enter_withdrawal_amount" data-i18n-attr="placeholder"  />
      <span class="input-group-text">USDT</span>
      <span class="input-group-text withdrawal-max-value"><span data-i18n="wallet_page.withdrawal.Max">Max</span></span>
    </div>
    <div id="withdrawal-amount-input-label" class="text-danger mt-1" style="font-size: 11px; margin-left: 60px;"  data-i18n="Min_Max_Limit"></div>
  </div>
  
  
  <div class="withdrawal__content__submit">
    <button class="btn btn-primary withdrawal-submit" disabled data-bs-toggle="modal" data-bs-target="#withdrawalSuccessModal" data-i18n="SUBMIT">SUBMIT</button>
  </div>

</div>
