.my-account {
  padding: 0;
  background-color: #E8F5FF;
  font-size: 14px;
}
.my-account .benefits {
  background-image: url(../images/new-icons/profile/benefits-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.my-account .benefits .benefits-title {
  font-size: 16px;
  color: #122b55;
  font-weight: 600;
}
.my-account .benefits .claim-button {
  color: white;
  border: none;
  background-color: transparent;
  font-size: 12px;
}
.my-account__content__topcontent__nav {
  display: flex;
  place-content: flex-end;
  place-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 0;
  gap: 8px;
  align-self: flex-start;
}
.my-account__content__topcontent__nav img {
  max-width: 33px;
}
.my-account__content__topcontent__top {
  display: flex;
  place-content: flex-start;
  place-items: center;
  padding-top: 15px;
  gap: 10px;
}
.my-account__content__topcontent__top__avatar {
  max-width: 60px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
}
.my-account__content__topcontent__top__user-info {
  display: flex;
  place-content: space-between;
  width: 100%;
  place-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #333;
}
.my-account__content__topcontent__top__user-info h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  margin-bottom: 2px;
}
.my-account__content__topcontent__balance {
  background-image: url(../images/my-account/wallet-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 12px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #E7D3A5;
  display: flex;
  place-content: space-between;
  place-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.my-account__content__topcontent__balance h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
  margin: 0;
}
.my-account__content__topcontent__wallet {
  margin: 0;
  padding: 10px;
  background: #FFFFFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media only screen and (max-width: 390px) {
  .my-account__content__topcontent__wallet {
    margin: 0 15px !important;
  }
}
.my-account__content__topcontent__wallet__top {
  display: flex;
  place-content: space-between;
  place-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.my-account__content__topcontent__wallet__top a {
  color: #000000;
}
.my-account__content__topcontent__wallet__top a img {
  max-width: 70px;
}
.my-account__content__topcontent__wallet__top a > span > span {
  font-weight: 300;
  font-size: 11px;
  line-height: 14px;
  color: #94A6B7;
}
@media only screen and (max-width: 390px) {
  .my-account__content__topcontent__wallet__top a img {
    max-width: 60px;
  }
  .my-account__content__topcontent__wallet__top a > span > span {
    font-size: 10px;
  }
}
@media only screen and (max-width: 370px) {
  .my-account__content__topcontent__wallet__top a img {
    max-width: 55px;
  }
}
.my-account__content__topcontent__wallet__bottom {
  display: flex;
  place-content: space-around;
  place-items: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  padding: 15px 0;
}
.my-account__content__topcontent__wallet__bottom > a {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  color: #000000;
}
.my-account__content__topcontent__wallet__bottom > a img {
  max-width: 40px;
}
.my-account__content__topcontent__wallet__bottom > a > div {
  margin-bottom: 0;
  margin-top: 5px;
  text-transform: capitalize;
}
.my-account__content__promotion {
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 15px;
}
.my-account__content__navbar {
  list-style: none;
  padding: 0 15px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 15px;
}
.my-account__content__navbar li a {
  display: flex;
  place-items: center;
  place-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 15px;
  padding-top: 15px;
}
.my-account__content__navbar li a > div {
  display: flex;
  place-items: center;
  place-content: space-between;
  gap: 10px;
}
.my-account__content__navbar li a > div .icon {
  max-width: 20px;
  text-align: center;
}
.my-account__content__navbar li a span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: rgba(0, 0, 0, 0.2);
}